<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge">
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1">

    <title>
      {{ page_title }}
    </title>

    <style>
      {{ settings.body_font | font_face }}
    </style>

    {{ 'base.min.css' | asset_url | stylesheet_tag }}

    <script
      type="module"
      src="{{ 'bundle.min.js' | asset_url }}"></script>

    {{ content_for_header }}

  </head>

  <body>

    {{ content_for_layout }}

  </body>
</html>