<header
  id="navbar"
  class="navbar bb">
  <div class="container-fluid w-100">
    <nav class="row ai-center px-2">
      <button
        type="button"
        class="col-auto btn navbar-drawer ml-2 d-flex d-sm-none p-0"
        spx@click="drawer.toggle">
        {%- svg 'menu', 'icon-menu' -%}
      </button>
      <a
        href="/"
        class="col-auto tc-sm ml-offset"
        title="Home Page"
        spx-target="body">
        {%- svg 'logo-text', 'navbar-logo' -%}
      </a>
      <span class="col-auto pl-0 fs-xs fc-white ff-heading upper mt-2 ">
        <small class="navbar-version">version</small>
        {{- pkg.version -}}
      </span>

      <div class="col-auto tr pl-5  mr-auto">
        <ul
          class="list-pipe mb-0 navbar-menu"
          id="menu">
          {%- for link in navigation.navbar -%}
            <li>
              <a
                href="{{ link.url }}"
                spx-target="body"
                {%- if page.url contains link.url -%}
                  class="active"
                {%- endif -%}>
                {{- link.title -}}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="col-auto pl-3  ml-auto ">
        <div class="row">
          <a
            target="_blank"
            href="{{ navigation.github.url }}"
            title="{{ navigation.github.title }}"
            class="col-auto">
            {%- svg 'github', 'icon icon-github-text' -%}
          </a>
          <a
            target="_blank"
            href="{{ navigation.npm.url }}"
            title="{{ navigation.npm.title }}"
            class="col-auto">
            {%- svg 'npm', 'icon icon-npm' -%}
          </a>
          <a
            target="_blank"
            href="{{ navigation.discord.url }}"
            title="{{ navigation.discord.title }}"
            class="col-auto">
            {%- svg 'discord', 'icon icon-discord' -%}
          </a>
        </div>
      </div>
      <div class="col-auto">
        {%- include 'include/search' -%}
      </div>
    </nav>
  </div>
</header>