{%- liquid

  # PRODUCT SALE
  if product.compare_at_price_max > product.price
    assign on_sale = true
  else
    assign on_sale = false
  endif

  # MODEL SIZES - GET METAFIELD
  if product.tags contains 'Women'
    assign model = shop.metafields.product.model.value['woman']
  else
    assign model = shop.metafields.product.model.value['man']
  endif

  # MODEL SIZES - REQUIRED DATA
  capture height_cm
    echo model.height.cm | append: 'cm'
  endcapture
  capture height_in
    echo model.height.in | append: 'in'
  endcapture
  capture weight_kg
    echo model.weight.kg | append: 'kg'
  endcapture
  capture weight_lbs
    echo model.weight.lbs | append: 'lbs'
  endcapture
  capture model_size
    echo 'product_page.model_size' | t: size: model.wearing, height: height_cm, weight: weight_kg
  endcapture

-%}

{%- comment -%}
  PRODUCT PRICE
{%- endcomment -%}
{%- capture product_price -%}
  {{- product.price
    | money_without_trailing_zeros
    | remove: ','
    | remove: '.'
    | remove: cart.currency.symbol -}}
{%- endcapture -%}

{%- comment -%}
  CART PRICE
{%- endcomment -%}
{%- capture cart_price -%}
  {{- cart.total_price
    | money_without_trailing_zeros
    | remove: ','
    | remove: '.'
    | remove: cart.currency.symbol -}}
{%- endcapture -%}

<main id="main" class="container-fluid gx-0">
  <div class="row g-0 jc-center">

    {% section 'product_viewer' %}

    <div
      id="purchase"
      class="col-12 col-sm-10 col-md-10 col-lg-6"
      data-controller="purchase"
      data-purchase-cart-price-value="{{ cart_price }}"
      data-purchase-on-sale-value="{{ on_sale }}"
      data-purchase-product-price-value="{{ product_price }}"
      data-purchase-selected-value="selected"
      data-purchase-stock-notification-value="{{ notification }}">

      <div
        class="d-grid"
        data-controller="sticky"
        data-sticky-breakpoint-value="xl|xxl"
        data-sticky-bounding-value="false"
        data-sticky-offset-value="40">

        {% section 'product_heading' %}
        {% section 'product_subhead' %}
        {% section 'product_description' %}

        {% # Renders a re-stock notification or standard purchase %}
        <div class="od-2 od-md-last">
          {% unless product.available %}
            {% section 'product_restock' %}
          {% else %}
            {% section 'product_purchase' %}
          {% endunless %}
        </div>
      </div>
    </div>

  </div>
</main>

<!-- @prettify-ignore-start -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "@id": "{{ shop.url | append: '/products/' | append: product.handle }}",
    "url": "{{ shop.url | append: '/products/' | append: product.handle }}",
    "name": "{{ product.title }}",
    "image": "{{ product.featured_image.src | img_url: 'master' }}",
    "description": "{{ product.description | strip_html | strip_newlines | escape }}",
    "brand": {
      "name": "{{ product.vendor }}"
    },
    "offers": {
      "@type": "Offer",
      "priceCurrency": "{{ shop.currency }}",
      "price": "{{ product.selected_or_first_available_variant.price | money_without_currency }}",
      "availability": "http://schema.org/{%- if product.available %}InStock{%- else -%}OutOfStock{%- endif -%}",
      "seller": {
        "@type": "Organization",
        "name": "{{ shop.name }}"
      }
    }
  }
</script>
<!-- @prettify-ignore-end -->
