<div id="footer" class="row px-2 px-sm-3 pt-5">
  {%- for block in section.blocks -%}

    {%- if block.type == 'newsletter' -%}

      <div class="col-12 col-sm-5">
        <h6 class="fw-bold mb-3">
          {{ 'newsletter.title' | t }}
        </h6>
        <p class="fs-md">
          {{ block.settings.description }}
          {%- if block.settings.incentive == '10_off_first_order' -%}
            <span class="d-inline d-xl-block">
              Right now, all new subscribers receive 10% off their first order.
            </span>
          {%- endif -%}
        </p>
        {%- render 'newsletter' -%}
      </div>

    {%- endif -%}

    {%- if block.type == 'menu' -%}

      <div class="col-12 mb-4 mb-sm-0 col-sm d-flex jc-sm-start jc-sm-center">
        <ul class="list-clear">
          <li class="mb-3">
            <h6 class="fw-bold">
              {{ block.settings.title }}
            </h6>
          </li>
          {%- for link in linklists[block.settings.navigation].links -%}
            <li class="mb-1">
              <a
                href="{{ link.url }}"
                title="{{ link.title }}"
                class="upper fs-sm"
                target="_blank">
                {{- link.title -}}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>

    {%- endif -%}
  {%- endfor -%}

</div>

{% schema %}
  {
    "name": "Footer",
    "tag": "footer",
    "class": "container-fluid pt-3 bd-top",
    "settings": [
      {
        "type": "header",
        "content": "Newsletter",
        "info": "The newsletter subscription form"
      },
      {
        "type": "textarea",
        "id": "description",
        "id": "value",
        "label": "Description"
      },
      {
        "type": "checkbox",
        "id": "discount",
        "label": "Discount Incentive",
        "info": "The text content to show in cookie banner"
      }
    ],
    "blocks": [
      {
        "type": "newsletter",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "id": "description",
            "label": "Description",
            "default": "Subscribe to the Brixtol Textiles newsletter for weekly inspiration and news."
          },
          {
            "type": "select",
            "id": "incentive",
            "label": "Discount Incentive",
            "info": "Enable subscription incentive to visitors",
            "default": "10_off_first_order",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "10_off_first_order",
                "label": "10% off First Order"
              }
            ]
          }
        ]
      },
      {
        "type": "menu",
        "name": "Linklist",
        "limit": 3,
        "settings": [
          {
            "type": "header",
            "content": "Linklist",
            "info": "Define a linklist menu"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "link_list",
            "id": "navigation",
            "default": "main-menu",
            "label": "Select navigation"
          }
        ]
      }
    ]
  }
{% endschema %}
