{%- capture class -%}
  col-{{ section.settings.mobile }}
  col-md-{{ section.settings.tablet }}
  col-xl-{{ section.settings.desktop }}
  p-{{ section.settings.gutter }}
  {% if product.vendor contains '22' %}
    aw22-image
  {% endif %}
{%- endcapture -%}

{%- capture params -%}
  {{- collection.filters | map: 'param_name' | json | escape -}}
{%- endcapture -%}

<div
  class="mt-4 mb-2 d-none"
  data-controller="sticky"
  data-sticky-offset-value="70">

  <div
    class="dropdown"
    data-controller="dropdown"
    data-dropdown-collapse-value="closed"
    data-dropdown-active-class="active"
    data-dropdown-selected-class="selected">

    <button
      type="button"
      class="btn"
      data-dropdown-target="button"
      data-action="click->dropdown#toggle">
      <span>FILTER</span>
    </button>

    <div
      class="dropdown-list"
      data-dropdown-target="list">
      {% render 'filters' %}
    </div>
  </div>
</div>

{%- paginate collection.products by section.settings.per_page -%}

  {%- for product in collection.products -%}
    {%- render 'product' with product, grid: class -%}
  {%- endfor -%}

  {%- if paginate.pages > 1 -%}
    {%- render 'paginate', paginate: paginate, anchor: '' -%}
  {%- endif -%}

{%- endpaginate -%}

{% schema %}
  {
    "name": "Collection Products",
    "tag": "section",
    "class": "row jc-start ac-center pt-3 g-1",
    "templates": ["collection"],
    "settings": [
      {
        "type": "header",
        "content": "Pagination",
        "info": "Products to show per page"
      },
      {
        "type": "number",
        "id": "per_page",
        "label": "Products (Per Page)",
        "default": 150
      },
      {
        "type": "header",
        "content": "Layout",
        "info": "Customize the grid layout and structure of collections"
      },
      {
        "type": "range",
        "id": "gutter",
        "label": "Gutter",
        "info": "Spacing and padding between products",
        "min": 0,
        "max": 5,
        "step": 1,
        "default": 2
      }, {
        "type": "range",
        "id": "mobile",
        "label": "Mobile",
        "info": "Screens in mobile",
        "min": 6,
        "max": 12,
        "step": 1,
        "default": 6
      }, {
        "type": "range",
        "id": "tablet",
        "label": "Tablet",
        "info": "Screens in large tablet",
        "min": 4,
        "max": 6,
        "step": 1,
        "default": 4
      }, {
        "type": "range",
        "id": "desktop",
        "label": "Desktop",
        "info": "Screens in laptops and desktop",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 4
      }
    ],
    "blocks": [
      {
        "type": "filter",
        "name": "Filter",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Layout",
            "info": "Customize the layout and position of the collection filter."
          }, {
            "type": "range",
            "id": "width",
            "label": "Width",
            "info": "Use 100% for stacked layout",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "default": 15
          }, {
            "type": "header",
            "content": "Rendering",
            "info": "Control how filters render behave when scrolling a collection."
          }, {
            "type": "checkbox",
            "id": "sticky",
            "label": "Sticky",
            "default": true
          }
        ]
      }
    ]
  }
{% endschema %}
