{% if page.url == '/' %}
  {% assign drawer = '' %}
{% else %}
  {% assign drawer = 'drawer-active' %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>
      {{ title | prepend: 'Syncify | ' }}
    </title>
    <meta charset="UTF-8">
    <meta
      name="description"
      content="{{ description }}">
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">
    <link
      href="https://fonts.googleapis.com"
      rel="preconnect">
    <link
      href="https://fonts.gstatic.com"
      crossorigin
      rel="preconnect">
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
      rel="stylesheet">

    <link
      type="font/woff2"
      href="{{ '/assets/font/proxima-nova-regular.woff2' | url }}"
      as="font"
      crossorigin
      rel="stylesheet preload" />

    <link
      type="font/woff2"
      href="{{ '/assets/font/proxima-nova-bold.woff2' | url }}"
      as="font"
      crossorigin
      rel="stylesheet preload" />

    <link
      type="font/woff2"
      href="{{ '/assets/font/proxima-nova-light.woff2' | url }}"
      as="font"
      crossorigin
      rel="stylesheet preload" />

    <style spx-eval="false">
      @font-face {
        font-family: 'Proxima Nova';
        src: url('{{ '/assets/font/proxima-nova-regular.woff2' | url }}') format('woff2');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Proxima Nova';
        src: url('{{ '/assets/font/proxima-nova-bold.woff2' | url }}') format('woff2');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Proxima Nova';
        src: url('{{ '/assets/font/proxima-nova-light.woff2' | url }}') format('woff2');
        font-weight: 100;
        font-style: normal;
        font-display: swap;
      }
    </style>
    <link
      href="{{'/style.css' | url }}"
      rel="stylesheet"
      spx-eval="false">
    <script
      src="{{'/bundle.min.js' | url }}"
      spx-eval="false"
      async></script>

  </head>

  <body>

    {% if page.url == '/' %}

      {% include 'include/landing' %}

    {% else %}

      {% include 'include/navbar' %}
      {% include 'include/search' %}

      <div class="container-fluid container-wrapper">

        <aside
          class="px-0 vh-100 bt br d-none d-sm-block sidebar drawer-left drawer-panel"
          spx-component="drawer"
          spx-drawer:direction="left"
          spx-drawer:width="280">
          {% include 'include/sidebar' %}
        </aside>

        <div
          id="content"
          class="row jc-center jc-md-between content-offset pl-xxl-5">

          <main class="col-11 {{ grid | default: 'col-md-8' }} px-xl-3 pb-4">
            {% include 'include/breadcrumb' %}
            {{ content }}
            {% include 'include/paginate' %}
          </main>

          {% if anchors %}
            <div
              class="col-auto px-5 anchors"
              spx-component="scrollspy">
              <ul>
                {% for name in anchors %}
                  <li>
                    <a
                      href="{{ name | anchor }}"
                      spx-node="scrollspy.href">{{ name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>

    {% endif %}

    {% sprite %}
    {% search %}
    <div
      class="drawer-backdrop"
      spx-node="drawer.backdrop"></div>
  </body>
</html>